@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

/* GLOBAL */
.flex-hori {
  display: flex;
}

.flex-space-between {
  justify-content: space-between;
}

.center-content {
  justify-content: center;
  align-items: center;
}

.margin-hori-sm {
  margin: 0 1em;
}

section {
  margin: 4em auto;
}

/* MEDIA QUERIES */
@media screen and (max-width: 520) {
  .flex-hori {
    flex-direction: column;
  }
}