@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

/* GLOBAL */
.flex-hori {
  display: flex;
}

.flex-space-between {
  justify-content: space-between;
}

.center-content {
  justify-content: center;
  align-items: center;
}

.margin-hori-sm {
  margin: 0 1em;
}

/* MEDIA QUERIES */
@media screen and (max-width: 520) {
  .flex-hori {
    flex-direction: column;
  }
}

/* Human body svg file*/
.st0 {
  fill:#216EFF;
}

.st1 {
  fill:#216EFF;
}

.st2 {
  fill:#216EFF;
}

.st2:hover {
  fill:#ffa621;
}

.st3 {
  fill:#216EFF;
}

.st3:hover {
  fill:#ffa621;
}

.st4 {
  fill:#216EFF;
}

.st4:hover {
  fill:#ffa621;
}

.st5 {
  fill:#216EFF;
}

.st5:hover {
  fill:#ffa621;
}

.st6 {
  fill:#216EFF;
}

.st6:hover {
  fill:#ffa621;
}

.st7 {
  fill:#216EFF;
}

.st7:hover {
  fill:#ffa621;
}

.st8 {
  fill:#216EFF;
}

.st8:hover {
  fill:#ffa621;
}

.st9 {
  fill:#216EFF;
}

.st9:hover {
  fill:#ffa621;
}

.st10 {
  fill:#216EFF;
}

.st10:hover {
  fill:#ffa621;
}

.st11 {
  fill:#216EFF;
}

.st11:hover {
  fill:#ffa621;
}

.st12 {
  fill:#216EFF;
}

.st12:hover {
  fill:#ffa621;
}


